body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; 
  color: #333; 
  margin: 0;
  padding: 0;
}


.nav-link {
  color: white;
}



table {
  margin-top: 20px;
  border-collapse: collapse;
  margin-bottom: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

th, td {
  padding: 12px 15px;
  border: 1px solid #dee2e6; 
}

th {
  background-color: #007bff; 
  color: rgb(59, 27, 27); 
  border-color: #0056b3; 
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}


h2 {
  text-align: center;
  color: #007bff; 
  margin-top: 20px;
  margin-bottom: 20px;
}


#editModeButton {
  background-color: #28a745; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 5px; 
  display: block; 
  width: 100px; 
  margin-left: auto; 
  margin-right: auto; 
}


#editModeButton:hover {
  background-color: #218838; 
}


#editInstructions {
  text-align: center; 
  display: block; 
  margin-top: 10px;
  margin-bottom: 10px;
}


#editInput {
  display: block; 
  margin-top: 10px;
  margin-left: auto; 
  margin-right: auto; 
  width: 200px; 
}


.top-right-panel {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f8f9fa;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.schedule-container {
  flex: 1;
  max-width: 70%; 
  margin-right: 20px; 
}


.side-panel {
  width: 25%; 
}


.panel {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.panel h3 {
  margin-top: 0;
}

.editable {
  display: inline-block;
  background-color: #f9f9f9;
  margin: 0;
  padding: 2px 4px;
  border: 1px dashed #ccc;
}

.editable:focus {
  background-color: #eef;
  border: 1px solid #aaa;
}
