@meida (max-width: 900px)
.flex-container{
    display: inline-flex;
}

@meida (min-width: 768px)
.flex-container{
    display: inline-flex;
}
@meida (min-width: 768px)
.flex-container{
    display: inline-flex;
}
@meida (min-width: 768px)
.flex-container{
    display: inline-flex;
}